@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 150 22% 9%;
    --foreground: 140 42% 85%;
    --card: 150 22% 11%;
    --card-foreground: 140 42% 85%;
    --popover: 150 22% 11%;
    --popover-foreground: 140 42% 85%;
    --primary: 145 58% 41%;
    --primary-foreground: 150 22% 9%;
    --secondary: 150 22% 15%;
    --secondary-foreground: 140 42% 85%;
    --muted: 150 22% 15%;
    --muted-foreground: 150 15% 55%;
    --accent: 150 22% 20%;
    --accent-foreground: 140 42% 95%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 150 22% 18%;
    --input: 150 22% 18%;
    --ring: 145 63% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 150 22% 9%;
    --foreground: 140 42% 85%;
    --card: 150 22% 11%;
    --card-foreground: 140 42% 85%;
    --popover: 150 22% 11%;
    --popover-foreground: 140 42% 85%;
    --primary: 145 58% 41%;
    --primary-foreground: 150 22% 9%;
    --secondary: 150 22% 15%;
    --secondary-foreground: 140 42% 85%;
    --muted: 150 22% 15%;
    --muted-foreground: 150 15% 55%;
    --accent: 150 22% 20%;
    --accent-foreground: 140 42% 95%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 150 22% 18%;
    --input: 150 22% 18%;
    --ring: 145 63% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
